<div class="modal-body">
    <div>
        <div>Select a Configuration {{$parent.panel}}
            <span class="pull-right">
                <a data-toggle="modal">
                    <i class="fa fa-times" data-dismiss="modal"></i>
                </a>
            </span>
        </div>
    </div>
    <br/>
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize class="grid"></div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button id="load" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="loadConfig()">Load</button>
        <button id="clone" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cloneConfig()" ng-disabled="isCloneDisabled()">Clone</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
</div>